/* css reset */
*{
    margin: 0px;
    padding: 0px;
    
}

/* Navbar styling */

#navbar{
    display: flex;
    flex-direction: row;
    position: relative;
    opacity: 1px;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
    flex-wrap: wrap;
    /* border: 2px solid red; */
    /* height: 21%; */
    margin-bottom: 20px;
    /* border: 2px solid red; */
    /* box-sizing: border-box; */
    /* background-color: turquoise; */
}

#navbar::before{
    background-color: black;
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.9;
}



/* Logo and image */
#logo{
    margin: 8px 20px;
}

#logo img{
    width: 180px;
    height: 80px;
    border-radius: 10px;
    /* border: 2px solid black; */
}

/* LIST ITEMS */
#navbar ul{
    display: flex;
}

#navbar ul li{
    list-style: none;
}

#navbar ul li a{
    color: white;
    font-weight: bold;
    font-family: cursive;
    font-size: 18px;
    /* border:2px solid black; */
    /* list-style: none; */
    margin: 8px;
    padding: 5px 10px 8px;
    height: 19px;
}
#navbar ul li a:hover{
    background-color: red;
    border-radius: 10px;
    cursor: pointer;
    color: black;
}
ul li:active{
    text-decoration: underline;
    color: white;
}

.items a{
    text-decoration: none;
    color: white;
}

.items a:hover{
    color:black;
}

.items a:active{
    color: white;
}

/* HOME DESIGNING */
#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 69vh;
    /* border: 2px solid red; */
}

#home::before{
    background-image: url(/FOODIES/textback.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
    content:"";
    position: absolute;
    top: 0%;
    width: 100%;
    height: 90%;
    opacity: 1;
    z-index: -1;
}
#slogan{
    margin: 10px 10px;
    padding: 34px;
    color: whitesmoke;
    /* text-shadow: 2px 3px red; */
    font-family: 'Fuggles', cursive;
    font-size: 40px;
}

#comp-name{
    font-size:5rem;
    color: #eddfe5;
    text-shadow: 3px 2px #39969b;
    font-family: 'Otomanopee One';;
}

#home button{
    background-color: transparent;
    background-color: red;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 8px;
    padding: 5px;
    font-size: 20px;
    color: white;
    cursor: pointer;
} 
#home button:hover{
  background: rgb(196, 39, 39);  
}
#home button:active{
    color: black;
    text-decoration: underline;
}


/* SERVICES */
.service-container{
    /* display: flex;
    align-items: center;
    justify-content: center */
    text-align:center;
    /* border: 2px solid red; */
}

.service-container h1{
    font-size: 2rem;
    /* margin-left: 33px; */
    /* margin-top: 59px; */
    margin-bottom: 50px;
    font-family: 'Otomanopee One', sans-serif;
    /* margin: 30px; */
    padding-top: 25px;
}
#services{
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
   
}

.boxes h2{
    font-family: 'Otomanopee One', sans-serif;
    font-size: 20px;
    color: #388d5a;;
}
.boxes{
    /* display: block; */
    box-sizing: border-box;
    margin: 15px;
    margin-left: 20px;
    margin-bottom: 40px;
    padding: 5px;
    border-radius: 23px;
    width: 380px;
    height: 350px;
    /* border: 2px solid red; */
    background-color: #efe6e6;
}

.boxes img{
    border-radius: 10px;
    margin: 20px;
    width: 200px;
    height: 160px;
}

/* OUR CLIENTS */



#clients-container::before{
    content:"";
    position:absolute;
    width: 100%;
    height:100%;
    z-index:-1;
    opacity: 0.5;
    background-color: turquoise;
    /* background-image:url('/FOODIES/back7.png'); */
    background-repeat: no-repeat;
    background-size: cover;
}

#clients-heading{
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 2rem;
    text-align: center;
    /* margin-left: 33px;
    margin-top: 50px; */
    font-family: 'Otomanopee One', sans-serif;
    padding-top: 25px;
}


#clients{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    
}



.clients-logo img{
    width: 300px;
    height: 180px;
}
/* #ccd img{
    width: 260px;
    height: 150px;
} */

/* contact us */
#contacts-heading{
    /* margin-top: 30px; */
    margin-bottom: 30px;
    font-size: 2rem;
    text-align: center;
    font-family: 'Otomanopee One', sans-serif;
    padding-top: 25px;
    color: black;
}

#contact{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    color: black;
    font-size: 20px;
}

#contacts-container{
    position: relative;
    font-family:inherit;
}

#contacts-container::before{
    /* background-image: url('/FOODIES/back3.png'); */
    background-color: thistle;
    background-repeat: no-repeat;
    background-size: cover;
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1;
    

}

#contact input,textarea{

    width: 100%;
    padding: 5px;
    margin: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

input[type='submit']{
    background-color: red;
    margin-left: 33px;
}

input[type='submit']:hover{
    background-color: rgb(138, 32, 32);
    margin-left: 33px;
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 7vh;
    font-size: 1.5rem;
}
    
